*, *::before, *::after{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #333;

    height: 95vh;
}

#test{
    display: none;
}

.container-game{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 7.5vmin;
}

#game-board{
    display: grid;
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    background-color: #ccc;
    gap:var(--cell-gap);
    border-radius: 1vmin;
    padding:var(--cell-gap);
    position: relative;
}

.cell{
    background-color: #aaa;
    border-radius: 1vmin;
}

.tile{
    --x: ;
    --y: ;
    --background-lightness: ;
    --text-lightness: ;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 1vmin;
    background-color: red;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    font-weight: bold;
    background-color: hsl(200, 50%, var(--background-lightness));
    color: hsl(200, 25%, var(--text-lightness));
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
}

@keyframes show{
    0% {
        opacity: .5;
        transform: scale(0);
    }
}