html, body {
    background: #648FB7;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: none;
}

*, html {
    touch-action: none;
    user-zoom: fixed;
  }

#show {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#plane {
    background: transparent url("../img/plane.png") no-repeat;
    background-size: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 100px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 168px;
    height: 80px;
}



#text {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 1),0px 4px 2px rgba(0, 0, 0, 1);
    font: bold 64px 'Arial';
    animation: blink 1s linear infinite;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none; 
}

.explode {
    background: black url("../img/explode.gif") no-repeat;
    background-size: cover;
    background-position: center;
}

.crash {
    background: black url("../img/crash.gif") no-repeat;
    background-size: cover;
    background-position: top;
}

.cheese {
    background: black url("../img/cheese.gif") no-repeat;
    background-size: cover;
    background-position: top;
}

.ground {
    background: transparent url("../img/clouds-fg1.png") repeat-x;
    background-position: bottom;
    background-size: 50%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: parallax 2s linear infinite;
}

.snow {
    background: transparent url("../img/clouds-fg2.png") repeat-x;
    background-position: bottom;
    background-size: 50%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: parallax 1s linear infinite;
}

.clouds {
    background: transparent url("../img/clouds-bg.png") repeat-x;
    background-position: bottom;
    background-size: 50%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: parallax 5s linear infinite;
}

.mountains {
    background: transparent url("../img/mountains.png") repeat-x;
    background-position: bottom;
    background-size: 50%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: parallax 3s linear infinite;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.santa {
    background: url("../img/santa.png");
    background-size: cover;
    width: 64px;
    height: 64px;
    position: absolute;
}

.score {
    position: fixed;
    top: 10px;
    right: 10px;
    background: #202020;
    border-radius: 16px;
    padding: 16px;
    color: white;
    font: normal 64px 'Arial';
}

@keyframes parallax {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -100%;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}



@media(max-width: 500px){
    #plane {
        left: 0;
        width: 88px;
        height: 80px;
    }
    .santa {
        width: 34px;
        height: 34px;
    }
}